<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>550361413167-pfnbje3q2rndbbhoh8c0du1iqhvkgput.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.550361413167-pfnbje3q2rndbbhoh8c0du1iqhvkgput</string>
	<key>API_KEY</key>
	<string>AIzaSyDC1kF0y16GEDgCKugUByA4Wud8MxSRe5M</string>
	<key>GCM_SENDER_ID</key>
	<string>550361413167</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HidePelo.statFireBase</string>
	<key>PROJECT_ID</key>
	<string>startfirebase-422fd</string>
	<key>STORAGE_BUCKET</key>
	<string>startfirebase-422fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:550361413167:ios:823b16ec87dc73be</string>
	<key>DATABASE_URL</key>
	<string>https://startfirebase-422fd.firebaseio.com</string>
</dict>
</plist>